/*!
 * Flat UI Free v2.2.2 (http://designmodo.github.io/Flat-UI/)
 * Copyright 2013-2015 Designmodo, Inc.
 */@font-face {
	font-family:Lato;font-style:normal;font-weight:900;src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-black.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-black.eot?#iefix) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-black.woff) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-black.ttf) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-black.svg#latoblack) format('svg')
}

@font-face {
	font-family:Lato;font-style:normal;font-weight:700;src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bold.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bold.eot?#iefix) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bold.woff) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bold.ttf) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bold.svg#latobold) format('svg')
}

@font-face {
	font-family:Lato;font-style:italic;font-weight:700;src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bolditalic.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bolditalic.eot?#iefix) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bolditalic.woff) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bolditalic.ttf) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-bolditalic.svg#latobold-italic) format('svg')
}

@font-face {
	font-family:Lato;font-style:italic;font-weight:400;src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-italic.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-italic.eot?#iefix) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-italic.woff) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-italic.ttf) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-italic.svg#latoitalic) format('svg')
}

@font-face {
	font-family:Lato;font-style:normal;font-weight:300;src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-light.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-light.eot?#iefix) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-light.woff) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-light.ttf) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-light.svg#latolight) format('svg')
}

@font-face {
	font-family:Lato;font-style:normal;font-weight:400;src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-regular.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-regular.eot?#iefix) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-regular.woff) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-regular.ttf) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/lato/lato-regular.svg#latoregular) format('svg')
}

@font-face {
	font-family:Flat-UI-Icons;src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/glyphicons/flat-ui-icons-regular.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/glyphicons/flat-ui-icons-regular.eot?#iefix) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/glyphicons/flat-ui-icons-regular.woff) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/glyphicons/flat-ui-icons-regular.ttf) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/fonts/glyphicons/flat-ui-icons-regular.svg#flat-ui-icons-regular) format('svg')
}[class^=fui-],[class*=fui-] {
	font-family: Flat-UI-Icons;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fui-triangle-up:before {
	content: "\e600"
}

.fui-triangle-down:before {
	content: "\e601"
}

.fui-triangle-up-small:before {
	content: "\e602"
}

.fui-triangle-down-small:before {
	content: "\e603"
}

.fui-triangle-left-large:before {
	content: "\e604"
}

.fui-triangle-right-large:before {
	content: "\e605"
}

.fui-arrow-left:before {
	content: "\e606"
}

.fui-arrow-right:before {
	content: "\e607"
}

.fui-plus:before {
	content: "\e608"
}

.fui-cross:before {
	content: "\e609"
}

.fui-check:before {
	content: "\e60a"
}

.fui-radio-unchecked:before {
	content: "\e60b"
}

.fui-radio-checked:before {
	content: "\e60c"
}

.fui-checkbox-unchecked:before {
	content: "\e60d"
}

.fui-checkbox-checked:before {
	content: "\e60e"
}

.fui-info-circle:before {
	content: "\e60f"
}

.fui-alert-circle:before {
	content: "\e610"
}

.fui-question-circle:before {
	content: "\e611"
}

.fui-check-circle:before {
	content: "\e612"
}

.fui-cross-circle:before {
	content: "\e613"
}

.fui-plus-circle:before {
	content: "\e614"
}

.fui-pause:before {
	content: "\e615"
}

.fui-play:before {
	content: "\e616"
}

.fui-volume:before {
	content: "\e617"
}

.fui-mute:before {
	content: "\e618"
}

.fui-resize:before {
	content: "\e619"
}

.fui-list:before {
	content: "\e61a"
}

.fui-list-thumbnailed:before {
	content: "\e61b"
}

.fui-list-small-thumbnails:before {
	content: "\e61c"
}

.fui-list-large-thumbnails:before {
	content: "\e61d"
}

.fui-list-numbered:before {
	content: "\e61e"
}

.fui-list-columned:before {
	content: "\e61f"
}

.fui-list-bulleted:before {
	content: "\e620"
}

.fui-window:before {
	content: "\e621"
}

.fui-windows:before {
	content: "\e622"
}

.fui-loop:before {
	content: "\e623"
}

.fui-cmd:before {
	content: "\e624"
}

.fui-mic:before {
	content: "\e625"
}

.fui-heart:before {
	content: "\e626"
}

.fui-location:before {
	content: "\e627"
}

.fui-new:before {
	content: "\e628"
}

.fui-video:before {
	content: "\e629"
}

.fui-photo:before {
	content: "\e62a"
}

.fui-time:before {
	content: "\e62b"
}

.fui-eye:before {
	content: "\e62c"
}

.fui-chat:before {
	content: "\e62d"
}

.fui-home:before {
	content: "\e62e"
}

.fui-upload:before {
	content: "\e62f"
}

.fui-search:before {
	content: "\e630"
}

.fui-user:before {
	content: "\e631"
}

.fui-mail:before {
	content: "\e632"
}

.fui-lock:before {
	content: "\e633"
}

.fui-power:before {
	content: "\e634"
}

.fui-calendar:before {
	content: "\e635"
}

.fui-gear:before {
	content: "\e636"
}

.fui-bookmark:before {
	content: "\e637"
}

.fui-exit:before {
	content: "\e638"
}

.fui-trash:before {
	content: "\e639"
}

.fui-folder:before {
	content: "\e63a"
}

.fui-bubble:before {
	content: "\e63b"
}

.fui-export:before {
	content: "\e63c"
}

.fui-calendar-solid:before {
	content: "\e63d"
}

.fui-star:before {
	content: "\e63e"
}

.fui-star-2:before {
	content: "\e63f"
}

.fui-credit-card:before {
	content: "\e640"
}

.fui-clip:before {
	content: "\e641"
}

.fui-link:before {
	content: "\e642"
}

.fui-tag:before {
	content: "\e643"
}

.fui-document:before {
	content: "\e644"
}

.fui-image:before {
	content: "\e645"
}

.fui-facebook:before {
	content: "\e646"
}

.fui-youtube:before {
	content: "\e647"
}

.fui-vimeo:before {
	content: "\e648"
}

.fui-twitter:before {
	content: "\e649"
}

.fui-spotify:before {
	content: "\e64a"
}

.fui-skype:before {
	content: "\e64b"
}

.fui-pinterest:before {
	content: "\e64c"
}

.fui-path:before {
	content: "\e64d"
}

.fui-linkedin:before {
	content: "\e64e"
}

.fui-google-plus:before {
	content: "\e64f"
}

.fui-dribbble:before {
	content: "\e650"
}

.fui-behance:before {
	content: "\e651"
}

.fui-stumbleupon:before {
	content: "\e652"
}

.fui-yelp:before {
	content: "\e653"
}

.fui-wordpress:before {
	content: "\e654"
}

.fui-windows-8:before {
	content: "\e655"
}

.fui-vine:before {
	content: "\e656"
}

.fui-tumblr:before {
	content: "\e657"
}

.fui-paypal:before {
	content: "\e658"
}

.fui-lastfm:before {
	content: "\e659"
}

.fui-instagram:before {
	content: "\e65a"
}

.fui-html5:before {
	content: "\e65b"
}

.fui-github:before {
	content: "\e65c"
}

.fui-foursquare:before {
	content: "\e65d"
}

.fui-dropbox:before {
	content: "\e65e"
}

.fui-android:before {
	content: "\e65f"
}

.fui-apple:before {
	content: "\e660"
}
.mll,.mhl,.mal {
	margin-left: 20px
}/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */@media print {
	.btn {
		border-style: solid;
		border-width: 2px
	}

	.dropdown-menu,.select2-drop {
		background: #fff!important;
		border: 2px solid #ddd
	}

	.input-group-rounded .input-group-btn+.form-control,.input-group-rounded .input-group-btn+.select2-search input[type=text],.input-group-rounded .input-group-btn+.select2-search input[type=text] {
		padding-left: 10px
	}

	.form-control,.select2-search input[type=text] {
		border: 2px solid #ddd!important
	}

	.bootstrap-switch {
		width: 84px;
		height: 33px;
		border: 2px solid #bdc3c7
	}

	.tooltip {
		border: 2px solid #bdc3c7
	}

	.progress,.ui-slider {
		background: #ddd!important
	}

	.progress-bar,.ui-slider-range,.ui-slider-handle {
		background: #bdc3c7!important
	}
}

e,.ui-slider-handle {
	background: #bdc3c7!important
}


body.night{
    background-color: #263238;
    color: #aaa;
}
body.night img {
    filter: brightness(30%);
}


html {
  overscroll-behavior: none;
}
body {
  background-color: #fff;
  color: #51525d;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Zpix', serif;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  transition: background-color 0.6s;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}
body::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.03;
  position: fixed;
  background: center/cover no-repeat;
  background-image: url("https://cdn.jsdelivr.net/gh/LonelyFinally/cdn/xuanba.1.png");
  z-index: -1;
  pointer-events: none;
}

.bg_black {
  background-color: #3a3e4a;
  color: #d2d2d2;
}
.el-radio,
.el-checkbox {
  position: relative;
  font-size: 100%;
}
label.el-radio,
label.el-checkbox {
  display: block;
  cursor: pointer;
}
.el-radio>input[type='radio'],
.el-checkbox>input[type='checkbox'] {
  display: none;
}
.el-radio>input[type='radio'][disabled],
.el-checkbox>input[type='checkbox'][disabled] {
  cursor: not-allowed;
}
.el-radio>input[type='radio']+.el-radio-style,
.el-checkbox>input[type='checkbox']+.el-checkbox-style {
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  cursor: pointer;
}
.el-radio>input[type='radio']+.el-radio-style:hover:before,
.el-checkbox>input[type='checkbox']+.el-checkbox-style:hover:before {
  border-color: #20a0ff;
}
.el-radio>input[type='radio']+.el-radio-style:before,
.el-checkbox>input[type='checkbox']+.el-checkbox-style:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  content: '';
  border: 1px solid #c0ccda;
}
.el-radio>input[type='radio']+.el-radio-style:after,
.el-checkbox>input[type='checkbox']+.el-checkbox-style:after {
  position: absolute;
  display: none;
  content: '';
}
.el-radio>input[type='radio'][disabled]+.el-radio-style,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style {
  cursor: not-allowed;
  color: #d3dce6;
}
.el-radio>input[type='radio'][disabled]+.el-radio-style:hover,
.el-radio>input[type='radio'][disabled]+.el-radio-style:before,
.el-radio>input[type='radio'][disabled]+.el-radio-style:after,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:hover,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:before,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:after {
  cursor: not-allowed;
}
.el-radio>input[type='radio'][disabled]+.el-radio-style:hover:before,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:hover:before {
  border: 1px solid #d3dce6;
  animation-name: none;
}
.el-radio>input[type='radio'][disabled]+.el-radio-style:before,
.el-checkbox>input[type='checkbox'][disabled]+.el-checkbox-style:before {
  border-color: #d3dce6;
}
.el-radio>input[type='radio']:checked+.el-radio-style:before,
.el-checkbox>input[type='checkbox']:checked+.el-checkbox-style:before {
  animation-name: none;
}
.el-radio>input[type='radio']:checked+.el-radio-style:after,
.el-checkbox>input[type='checkbox']:checked+.el-checkbox-style:after {
  display: block;
}
.el-radio>input[type='radio']+.el-radio-style:before {
  border-radius: 50%;
}
.el-radio>input[type='radio']+.el-radio-style:after {
  top: 0.4em;
  left: 0.4em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background: #20a0ff;
}
.el-radio>input[type='radio']:checked+.el-radio-style:before {
  border: 1px solid #20a0ff;
}
.el-radio>input[type='radio']:checked[disabled]+.el-radio-style:before {
  border: 1px solid #b0d7f5;
}
.el-radio>input[type='radio']:checked[disabled]+.el-radio-style:after {
  background: #b0d7f5;
}
.el-checkbox>input[type='checkbox']+.el-checkbox-style:before {
  border-radius: 3px;
}
.el-checkbox>input[type='checkbox']+.el-checkbox-style:after {
  top: 0.15em;
  left: 0.5em;
  box-sizing: border-box;
  width: 0.4em;
  height: 0.85em;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.el-checkbox>input[type='checkbox']:checked+.el-checkbox-style:before {
  border: #20a0ff;
  background: #20a0ff;
}
.el-checkbox>input[type='checkbox']:checked[disabled]+.el-checkbox-style:before {
  border: #b0d7f5;
  background: #b0d7f5;
}
/* blue theme */
.el-radio.el-radio-blue>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-blue>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-blue>input[type='checkbox']:checked+label:before {
  border-color: #20a0ff;
}
.el-checkbox.el-checkbox-blue>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-blue>input[type='radio']+label:after {
  background: #20a0ff;
}
.el-radio.el-radio-blue>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-blue>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-blue>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-blue>input[type='radio']:checked[disabled]+label:before {
  border-color: #b0d7f5;
}
.el-checkbox.el-checkbox-blue>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-blue>input[type='radio']:checked[disabled]+label:after {
  background: #b0d7f5;
}
/* green theme */
.el-radio.el-radio-green>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-green>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-green>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-green>input[type='checkbox']:checked+label:before {
  border-color: #13ce66;
}
.el-checkbox.el-checkbox-green>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-green>input[type='radio']+label:after {
  background: #13ce66;
}
.el-radio.el-radio-green>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-green>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-green>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-green>input[type='radio']:checked[disabled]+label:before {
  border-color: #a1efc4;
}
.el-checkbox.el-checkbox-green>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-green>input[type='radio']:checked[disabled]+label:after {
  background: #a1efc4;
}
/* red theme */
.el-radio.el-radio-red>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-red>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-red>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-red>input[type='checkbox']:checked+label:before {
  border-color: #ff4949;
}
.el-checkbox.el-checkbox-red>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-red>input[type='radio']+label:after {
  background: #ff4949;
}
.el-radio.el-radio-red>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-red>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-red>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-red>input[type='radio']:checked[disabled]+label:before {
  border-color: #f9b3b3;
}
.el-checkbox.el-checkbox-red>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-red>input[type='radio']:checked[disabled]+label:after {
  background: #f9b3b3;
}
/* yellow theme */
.el-radio.el-radio-yellow>input[type='radio']+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type='checkbox']+label:hover:before,
.el-radio.el-radio-yellow>input[type='radio']:checked+label:before,
.el-checkbox.el-checkbox-yellow>input[type='checkbox']:checked+label:before {
  border-color: #f7ba2a;
}
.el-checkbox.el-checkbox-yellow>input[type='checkbox']:checked+label:before,
.el-radio.el-radio-yellow>input[type='radio']+label:after {
  background: #f7ba2a;
}
.el-radio.el-radio-yellow>input[type='radio'][disabled]+label:hover:before,
.el-checkbox.el-checkbox-yellow>input[type='checkbox'][disabled]+label:hover:before {
  border-color: #d3dce6;
}
.el-checkbox.el-checkbox-yellow>input[type='checkbox']:checked[disabled]+label:before,
.el-radio.el-radio-yellow>input[type='radio']:checked[disabled]+label:before {
  border-color: #fbeac1;
}
.el-checkbox.el-checkbox-yellow>input[type='checkbox'][disabled]:checked+label:before,
.el-radio.el-radio-yellow>input[type='radio']:checked[disabled]+label:after {
  background: #fbeac1;
}
/* switch component */
.el-switch,
.el-switch-style,
.el-switch-style:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
}
.el-switch .el-switch-style {
  height: 1.6em;
  left: 0;
  background: #c0ccda;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3em;
  cursor: pointer;
}
.el-switch .el-switch-style:before {
  display: block;
  content: '';
  height: 1.4em;
  position: absolute;
  width: 1.4em;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.el-switch>input[type='checkbox'] {
  display: none;
}
.el-switch>input[type='checkbox'][disabled]+.el-switch-style {
  cursor: not-allowed;
  background-color: #d3dce6;
}
.el-switch>input[type='checkbox']:checked+.el-switch-style {
  background-color: #20a0ff;
}
.el-switch>input[type='checkbox']:checked+.el-switch-style:before {
  left: 50%;
}
.el-switch>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #b0d7f5;
}
.el-switch.el-switch-blue>input[type='checkbox']:checked+.el-switch-style {
  background-color: #20a0ff;
}
.el-switch.el-switch-blue>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #b0d7f5;
}
.el-switch.el-switch-green>input[type='checkbox']:checked+.el-switch-style {
  background-color: #13ce66;
}
.el-switch.el-switch-green>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #a1efc4;
}
.el-switch.el-switch-red>input[type='checkbox']:checked+.el-switch-style {
  background-color: #ff4949;
}
.el-switch.el-switch-red>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #f9b3b3;
}
.el-switch.el-switch-yellow>input[type='checkbox']:checked+.el-switch-style {
  background-color: #f7ba2a;
}
.el-switch.el-switch-yellow>input[type='checkbox']:checked[disabled]+.el-switch-style {
  background-color: #fbeac1;
}

/* define size */
.el-radio.el-radio-sm,
.el-checkbox.el-checkbox-sm,
.el-switch.el-switch-sm {
  font-size: 85%;
}
.el-radio.el-radio-lg,
.el-checkbox.el-checkbox-lg,
.el-switch.el-switch-lg {
  font-size: 125%;
}
.footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #ccc;
}
@media screen and (max-width: 800px) {
  .hd {
    width: 95%;
    margin: auto;
  }
  .logodiv {
    margin-top: 20px;
  }
  .posts .replay-btn {
    display: none;
  }
  .posttime {
    display: none;
  }
  .posts .post-title {
    font-size: 16px;
  }
  .postname {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .about-avatar {
    right: -20px;
    top: -20px;
    transform: scale(0.6);
  }
  footer {
    font-size: 12px;
  }
}
